/* App.css */
.App{
  height: 100vh;
}

/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Apply full viewport height to the root element */
html, body, #root {
  height: 100vh;
}

/* Add a background color */
body {
  background-color: #f5f5f5;
}

/* Center content vertically */
#root {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
